<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="oange6214.Assetra"
    Publisher="CN=oange6214"
    Version="0.0.0.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Assetra</DisplayName>
    <PublisherDisplayName>oange6214</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="zh-TW" />
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="Assetra.WPF.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Assetra"
        Description="Personal Asset Portfolio Dashboard"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
